<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Vincent Yong's Blog</a>
      <a class="navbar-text" href="/tulip">Tulip Retail</a>
      <a class="navbar-text" href="/tulipjob">Job Position</a>
      <a class="navbar-text" href="/tulipgoals">Goals</a>
      <a class="navbar-text" href="/tulipconclusion">Conclusion</a>

    </div>
  </div>
</nav>
