<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Vincent Yong's Blog</a>
      <a class="navbar-text" href="/">Tulip Retail</a>
      <a class="navbar-text" href="/">Job Position</a>
      <a class="navbar-text" href="/">Goals</a>
      <a class="navbar-text" href="/">Conclusion</a>

    </div>
  </div>
</nav>
