<body style="background-color:black;">
    <div id="main-container" class="container">
      <div class="row" style="margin-top:50px;">
        <div id="sidebar" class="col-xs-4">
        	<!-- sidebar content -->

        	<div class="col-md-6">
				<img src="images/profilepic.jpg">
			</div>	
        </div>
        <div id="content" class="col-xs-8s">
        	<!--  main content -->

        	<font size="24", face="monospace", color="red" class="col-md-6">
				About Me
			</font>

			<div class="col-md-8">
				<br>
				<font color="white">
				<p>I am currently in my fifth year in the Bachelor of Computing Software Engineering Major at the University of Guelph. I spent my last two 4-month co-op terms at Tulip Retail located in Kitchener, Ontario. The experience was amazing and it helped me further develop my experience and the atmosphere of working at a start up company trying to make it big in the world.</p>
				<p>Looks through my blog to learn more about my experience with the company!</p>
			</div>
        </div>
      </div>
    </div>
</body>
