<body style="background-color:black;">
	<div id="main-container" class="container">
	  <div class="row" style="margin-top:50px;">
		<div id="sidebar" class="col-xs-4">
			<!-- sidebar content -->

			<div class="col-md-6">
				
			</div>	
		</div>
		<div id="content" class="col-xs-8s">
			<!--  main content -->

			<font size="24", face="monospace", color="#32575A" class="col-md-6">
				My Goals Working at Tulip Retail
			</font>

			<div class="col-md-8">
				<br>
				<font color="white">
				<h2>Winter 2015 Goals</h2>
				<br>

				<div style="border-style:solid; border-color:#194246">
					<dl>
						<dt>CRITICAL & CREATIVE THINKING - Depth & Breadth of Understanding</dt> <br>
						<dt>Goal:</dt><dd>Gain a further understanding of agile development and experience client driven development in the working world.</dd><br>
						<dt>Action Plan:</dt><dd>The action plan to measure the success is by taking or experiencing every possible oppourtunity that comes my way during the semester.</dd> <br>
						<dt>Measure of Success:</dt><dd>To measure how successful this goal was is by reflecting on how many oppourtunities I took advantage of and how much I learned about the company from beginning to end.</dd> <br>
						<dt>Reflection:</dt><dd>I  have learned a lot from working 8 months at Tulip Retail. When I started with Tulip, tasks were handed out upon completion of the previous task. This was changed to doing weekly sprint plans where a set of tasks were handed out that were to be completed during the week. Both approaches were very interesting to try, but I enjoyed getting one task after another more than the sprint plan. Going with sprint plan had some set of tasks ending before the new set of sprint tasks or some tasks going past the week. Experiencing both approach help me learned the different ways for completing tasks given from clients. </dd>
					</dl>
				</div>
				<br><br>

				<div style="border-style:solid; border-color:#194246">
					<dl>
						<dt>CRITICAL & CREATIVE THINKING - Creativity</dt> <br>
						<dt>Goal:</dt><dd>Taken my basic knowledge of web design from my first co-op term, develop my further understanding of php and css functionality while applying my current knowledge of the coding language.</dd><br>
						<dt>Action Plan:</dt><dd>My approach is to take on tasks that has to do with webpage design and record every approach I did to accomplish the requested look.</dd> <br>
						<dt>Measure of Success:</dt><dd>To measure this goal, I would reflect on the before and after of each tasks and made sure I understand the steps I took to reach the final product.</dd> <br>
						<dt>Reflection: </dt><dd> My knowledge of web design and development has definately improved from my first co-op term where I was a web developer there. With the help of Milosz and Diana, I was able to develop my knowledge of HTML and CSS and also improve my knowledge of PHP. I also improved my knowledge of how MVC files communicate between each other in a PHP platform and how site redirects and shortcuts are done. It was a lot to learn and it was all very informative.</dd>
					</dl>
				</div>
				<br><br>

				<div style="border-style:solid; border-color:#194246">
					<dl>
						<dt>PROFESSIONAL & ETHICAL BEHAVIOUR - Personal Organization/Time Management</dt> <br>
						<dt>Goal:</dt><dd>Mature my current time management and work ethic, improving the turnaround time it takes to start and finish a task.</dd><br>
						<dt>Action Plan:</dt><dd>The approach to develop this goal is to make sure I plan out my approach to each task and make sure I stay the step has been acheived by the planned date</dd> <br>
						<dt>Measure of Success:</dt><dd>The measure of success on this goal is by how much time is spent on each task and if daily plans are kept in check.</dd> <br>
						<dt>Reflection: </dt><dd>Time management was definately improved. When I started both simple and complicated tasks took time as I was learning the kinks and working of the coding environment. Once I have the environment down and knew where to look, simple tasks took no longer than a day and complicated tasks was completed with reasonable time.</dd>
					</dl>
				</div>
				<br><br>

				<br>

				<h2>Summer 2015 Goals</h2>
				<br>

				<div style="border-style:solid; border-color:#194246">
					<dl>
						<dt>COMMUNICATING - Integrative Communication</dt> <br>
						<dt>Goal:</dt><dd>Help the new co-op students with setting up their coding environments and make the environment work with the new redesign of the website.</dd><br>
						<dt>Action Plan:</dt><dd>Setting the coding environment will be the how new employees set their laptop up. The one thing that is missing is to run several scripts which are in different folders.</dd> <br>
						<dt>Measure of Success:</dt><dd>To measure the completion of the goal I would create a shell script that will run the scripts in the correct order, which will create, populate database tables. Succes will be shown when the script successfuly runs and the co-ops are able to launch the website locally without any errors.</dd> <br>
						<dt>Reflection: </dt><dd>Creating the script and running it for the new co-ops ran without a hitch. Improvements were definately once the site was being improved with more features that I wish that can be included into the script so it can be used with future co-op students.</dd>
					</dl>
				</div>
				<br><br>

				<div style="border-style:solid; border-color:#194246">
					<dl>
						<dt>CRITICAL & CREATIVE THINKING - Problem Solving</dt> <br>
						<dt>Goal:</dt><dd>Fix and improve current unit tests to reflect on updated and improved object creations.</dd><br>
						<dt>Action Plan:</dt><dd>Look into the unit test files and update them with new test plans that reflect on the new codebase.</dd> <br>
						<dt>Measure of Success:</dt><dd>To measure this goal, the easiest way is by the emails that are returned. If the email says that there are no more errors that show up during the unit test runs, then the goal is successful. There are currently two sections in the codebase that email errors when pushing code to production. When both sections return no errors, the goal is a success.</dd> <br>
						<dt>Reflection: </dt><dd>Unit tests were fixed and passed successfully on the production servers. Working on unit tests was a unique approach to understanding objects sent through the website and what is contained inside the object class.</dd>
					</dl>
				</div>
				<br><br>

				<div style="border-style:solid; border-color:#194246">
					<dl>
						<dt>PERSONAL LEARNING GOAL</dt> <br>
						<dt>Goal:</dt><dd>Improve on building files through scripts and learn to transfer files with a terminal.</dd><br>
						<dt>Action Plan:</dt><dd>Work on tasks given in regards to creating files and transferring files to other servers.</dd> <br>
						<dt>Measure of Success:</dt><dd>I haven't used a lot of file creation and file transfers within scripts. Measuring success on this goal would be the taking tasks that require file creation and transferring.</dd> <br>
						<dt>Reflection: </dt><dd> There were only a couple of times when building files through scripts and transferring between servers. I learned about transferring files between server using sftp in a terminal. It was informative and I learned the basics of sftp.</dd>
					</dl>
				</div>
				<br><br>

			</div>
		</div>
	  </div>
	</div>
</body>
