<body style="background-color:black;">
	<div id="main-container" class="container">
	  <div class="row" style="margin-top:50px;">
		<div id="sidebar" class="col-xs-4">
			<!-- sidebar content -->

			<div class="col-md-6">
				<p style="height:150px;">Spacing</p>
			</div>	
		</div>
		<div id="content" class="col-xs-8s">
			<!--  main content -->

			<font size="24", face="monospace", color="red" class="col-md-6">
				About Tulip Retail
			</font>

			<div class="col-md-8" style="width:650px;">
				<br>
				<font color="white">
				<p>Tulip Retail is all about bridging the gap between knowledgeable customers and the company's employees. In these days, customers who enter chain retails stores looking for a product will have more knowledge about the product than the employee themselves. Due to the lack of knowledge the employe may have with the product, the customer experience would diminish.</p>
				<p>This is where Tulip Retail's product comes in. They are developing a mobile point of sales system that will combine in-store, and online experiences the customer has with the company to drastically improve the customer experience when they visit a retail location</p>
				<p> Tulip’s history begins with one of the most successful online retailers in North America. Well.ca was started in 2008 to bring the best of health, baby and bath products to consumers in a fast and intuitive way.</p>
				<p>Since then, macro trends in retailing were becoming to big to ignore, and the technology team of Well.ca spun out and incorporated as Tulip Retail with a new mission – to bring the best aspects of online retailing to physical retail stores.</p>
				<p> To learn more about what Tulip Retail is about,
					<a href="/tulip">Click Here.</a>
				</p>
			</div>
		</div>
	  </div>
	</div>
</body>
