<body style="background-color:black;">
	<div id="main-container" class="container">
	  <div class="row" style="margin-top:50px;">
		<div id="sidebar" class="col-xs-4">
			<!-- sidebar content -->

			<div class="col-md-6">
				
			</div>	
		</div>
		<div id="content" class="col-xs-8s">
			<!--  main content -->

			<font size="24", face="monospace", color="red" class="col-md-6">
				About Tulip Retail
			</font>

			<div class="col-md-8">
				<br>
				<font color="white">
				<p>Talk about Tulip Retail</p>
			</div>
		</div>
	  </div>
	</div>
</body>
