<body style="background-color:black;">
	<div id="main-container" class="container">
	  <div class="row" style="margin-top:50px;">
		<div id="sidebar" class="col-xs-4">
			<!-- sidebar content -->

			<div class="col-md-6">
				<p style="height:150px;">Spacing</p>
			</div>
		</div>
		<div id="content" class="col-xs-8s">
			<!--  main content -->

			<font size="24", face="monospace", color="red" class="col-md-6">
				My Position at Tulip Retail
			</font>

			<div class="col-md-8" style="width:650px;padding: 50px;">
				<br>
				<font color="white">
				<p>While I was at Tulip, I was involved with a couple roles.</p>
				<br>
				<p>My main role at Tulip was working on the web Development team. The team was handling problems that happened on the website while building feature upon request from the client. Working in this role reminded me of my first co-op term. I was taking tickets that involved with fixing bugs, adding and improving features and stylizing the website to make it look more user friendly.</p>
				<br>
				<p> Even though both roles are similar, working at Tulip Retail gave a whole different kind of experience. With my first co-op, I was building and improving a website that the company started themselves. With Tulip Retail, I was handling code that will be used by people all over the world. If not enough testing is done or buggy code slipped into the live site, the result could end up bringing the site down and costing the company money. Luckily, I didn't submit and code that brought the site down.</p>
				<br>
				<p>My second role within the team was helping the client go ahead with the next step in improving the website. I was tasked with giving the website a huge facelift to their most visited pages. This was a oppourtunity that I never thought would come to be ever. I was estatic that my boss, Milosz, gave me such a big task.  The first section they tasked me with is the homepage. The client gave me the outline and basic code of how they want the website to look like and I had to take it from there. The second section was a file that generated product pages for all the products the client had. THe second section was proven more of a challenge trying to integrate, as there were many user featers that were there. It took some time, but once all the pieces fell into place, ironing out the layout was easy and in a lot of ways, very fun.</p>
				<br>
				<p> While in this position, I've learned a lot of new platforms while improving many other sections I've already known. Some of these are: <br> - PHP <br> - MySQL <br> - sftp <br> - MVC <br> - Shell scripts <br> - PHP scripting <br> - vagrant <br> - Reddis <br> - bash <br> - Web Bootstrap <br> and much more... </p>
			</div>
		</div>
	  </div>
	</div>
</body>
