<body style="background-color:black;">
	<div id="main-container" class="container">
	  <div class="row" style="margin-top:50px;">
		<div id="sidebar" class="col-xs-4">
			<!-- sidebar content -->

			<div class="col-md-6">
				<p style="height:550px;">Spacing</p>
			</div>	
		</div>
		<div id="content" class="col-xs-8s">
			<!--  main content -->

			<font size="24", face="monospace", color="#32575A" class="col-md-8">
				Conclusion and Acknowledgments for working at Tulip Retail
			</font>

			<div class="col-md-8">
				<br>
				<font color="white">
				<p>I  learned a lot working with Tulip Retail. Learned a lot, contributed a lot. Made many improvement to the client's website, minor tweaks to major overhauls, I've tackled them all. I've expanded my knowledge of coding languages while improving on good coding practices. <br>
				<br>
				<p>Working with Tulip Retail was an exciting journey. Throughout the 8-months I was there, I saw the team grow and grow as success is building with the company. It was an amazing experience to see the trials startup companies have to do to become successful in the big world.</p>
				<br>
				<p> </p>

				<br>
			</div>

			<font size="24", face="monospace", color="#32575A" class="col-md-8">
				Acknowledgments
			</font>
			<div class="col-md-8">
				<br>

				<img src="images/tulip-retail-logo.png" alt="Tulip Logo" style="width:600px"><br />
				<p> I would like to thank the people at Tulip for giving me this opportunity to work at such a great company like them. </p>
				<br >
				<p> I also like to thank my dev team supervisors for teaching me the ropes of the team and also helping me with curious questions and problem in the 8 months. I definitely learned a lot more than I would've thought in the 8 months I was at Tulip. </p>
				<br >
				<p> Big thanks to Milosz Sikora and Diana Pavel, my supervisors on the development team, for teaching me the ropes and the beginning of the semester and helping me improve coding practices and my knowledge of the systems they use at the company. Many thanks to Milosz for giving me the opportunity of working on the redesign and integration of the client's new website designs. It is one of the most memorable things I've done while being at the company and it will be one thing I will remember the most for the rest of my life!</p> 
				<br /><br /><br />

				<img src="images/uoguelph.jpg" alt="University of Guelph Logo" style="padding:10px;">
				<br>
				<p> I would also like to thank The University of Guelph Co-op Services for helping me secure a placement for the Winter and Summer 2015 co-op terms. I thank them for being able to connect and provide job opening like this one to students like me. The experience was amazing and the things I've learned will be something I will apply to my future endeavors.
				<br />
			</div>
		</div>
	  </div>
	</div>
</body>
